<div class='mainMenu'>
    <div ><a href="/admin" <% if(path=='admin'){%> class="active" <% }%>>Products</a></div>
    <div ><a href="/admin/add" <% if(path=='admin/add'){%> class="active" <% }%>>Add</a></div>
</div>