<div class='mainMenu'>
    <div ><a href="/" <% if(path=='home'){%> class="active" <% }%>>Home</a></div>
    <div ><a href="#shop">Shop</a></div>
    <div ><a href="#aboutUs">About us</a></div>
    <div ><a href="/cart" <% if(path=='cart'){%> class="active" <% }%>>Cart</a></div>
    <div ><a href="/admin">Admin</a></div>
</div>
