<%- include('./includes/header') %>
<body>
<%- include('./includes/adminMenu.ejs') %>
    <div class="mainAdminProductShow">
        <% for(let product of products) { %>

            <div class="AdminProductShow">
                <div class="AdminProductImage">
                    <img src="<%=product.imageurl%>" alt="product" width="300px" height="300px">  
                </div>
                <div class="AdminProductTitle">
                    <h2>Title: <%=product.title%></h2>
                    <h3>Price: <%=product.price%>$</h3>
                </div>
                <div class="AdminProductControll">
                    <a href="/admin/edit/<%=product.id%>">Edit</a>
                    <a href="/admin/delete/<%=product.id%>">Delete</a>
                </div>
                
                

            </div>
            <hr>
        <% } %>

    </div>
    

</body>
</html>