<%- include('./includes/header.ejs')%>
    <body>
        <%- include('./includes/adminMenu.ejs')%>
        
            <form action="/admin/edit/<%=product.id%>" method="POST">


                <div class="addProduct">
                    <div class="addImage">
                        <lable for="imageurl" style="font-size:20pt;">ImageURL:</lable>
                        <input type="text" name="imageurl" id="imageurl" placeholder="<%=product.imageurl%>">

                    </div>
                    <div class="addTitlePrice">
                        <lable for="title" style="font-size:20pt;">Title:</lable>
                        <input type="text" name="title" id="title" placeholder="<%=product.title%>">
                        
                        <lable for="price" style="font-size:20pt;">Price:</lable>
                        <input type="number" name="price" id="price" placeholder="<%=product.price%>">
                        
                    </div>
                    <div class="addDescription">
                        <lable for="description">Description:</lable>
                        
                        <textarea name="description" id="description" rows="5" placeholder="<%=product.description%>"></textarea>
                    </div>
                    <input type="submit" value="Edit"> 
                    



                </div>
            </form>
    </body>
</html>