<%- include('./includes/header.ejs')%>

<body>
    <%- include('./includes/indexMenu.ejs')%>
    <div class="cafeMainDiv">
        <div class="cafeImage">
            <img src="<%=product.imageurl%>" alt="cafe" width="500" height="500">
        </div>
        <div class="cafeTitlePrice">
            <h1>Name: <%=product.title%></h1>
            <h2>Price: <%=product.price%></h2>

        </div>
    </div>
    <div class="cafeDescription">
        <p>About: <%=product.description%></p>

    </div>


</body>
</html>