<%- include('./includes/header.ejs')%>
<body>
    <div class='mainBody'>
        <%- include('./includes/indexMenu.ejs')%>
        <div class="mainAdminProductShow">
            <% for(let product of products) { %>
    
                <div class="AdminProductShow">
                    <div class="AdminProductImage">
                        <img src="<%=product.imageurl%>" alt="product" width="300px" height="300px">  
                    </div>
                    <div class="AdminProductTitle">
                        <h2>Title: <%=product.title%></h2>
                        <h3>Price: <%=product.price%>$</h3>
                        <h6>quantity: <%=product.quantity%></h6>
                    </div>
                    <div class="AdminProductControll">
                        <a href="/buy/delete/<%=product.id%>">delete</a>
                        <a href="/cafe/<%=product.id%>">detail</a>
                    </div>
                    
                    
    
                </div>
                <hr>
            <% } %>
    
        </div>
        <h1>
            cost: <%=cost%>
        </h1>
        
        <form action="/buy/order" method="GET">

            <input type="submit" value="pay"> 
        </form>
        
    </div>
</body>
</html>
