<%- include('./includes/header.ejs') %>
<body>
    <div class='mainBody'>

        <%- include('./includes/indexMenu.ejs')%>

        <div class="slideShow">
        </div>

        <%- include('./includes/aboutUs.ejs')%>

        <div class="shop" id="shop">
            
            <div class="shopRight">

            </div>
            <div class="shopLeft">
                <% for (product of products){ %>
                    <div class="shopContainer">
                        <img src="<%=product.imageurl%>" alt="cafe" width="300px" height="300px">
                        <h3><%=product.title%> :<br> $<%=product.price%></h3>
                        <a href="/buy/<%=product.id%>" method="POST">Buy</a>


                    </div>



                <% } %>






            </div>

        </div>


    </div>







</body>


</html>