.addProduct{
    width: 100%;
    background-color: palegoldenrod;
}

.addImage{
    width: 100%;
}

.addTitlePrice{
    width: 100%;
    float:left;
}

.addDescription{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
#description {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top:40px;
    margin-bottom: 40px;

}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.AdminProductShow{
    width:100%;
    

}

.mainAdminProductShow{
    width: 100%;
    display:flex;
    flex-direction: column;
    /* background-color: salmon; */
}

.AdminProductImage{
    width:25%;
    float:left;
    /* background-color: red; */
    padding:10px;
    display: flex;
    justify-content: center;
}
/* .AdminProductImage img{
   
} */

.AdminProductTitle{
    width:25%;
    /* height: 300px; */
    display:flex;
    flex-direction: column;
    float:left;
    /* background-color: silver; */
    padding:10px;
}
.AdminProductTitle h2, h3{
    width: 100%;
    font-size:30pt;

}
.AdminProductTitle h3{
    font-size:25pt;
}
.AdminProductControll{
    width:25%;
    float:left;
    /* background-color: slateblue; */
    padding:10px;
    display:flex;
    flex-direction: column;
}
.AdminProductControll a{
    width: 100%;
    background-color: slategrey;
    font-size: 20pt;
    padding:20px;
    margin-bottom: 20px;
    margin-top:20px;
    text-decoration: none;
}
















