.mainBody{
    width: 100%;
    height: 100%;
}
body{
    font-size: 15px;
}
.mainMenu{
    width: 100%;
    display: flex;    
    background-color: aqua;


}
.active{
    color: rgba(59, 16, 77, 0.445);
}
mainMenu div a{
    text-decoration: none;
}
.mainMenu  div{
    font-size: 25pt;
    padding: 30px;

}

.slideShow{
    width:100%;
    height: 350px;
    background-color: rgba(112,121,211,0.3);

}
.aboutUs{
    width: 100%;
    background-color: cadetblue;
    display:flex;
}
.aboutUs img{
    width: 200px;
    height: 200px;
    padding: 15px;
}
.aboutUs p{
    padding:35px;
    font-size:13px;

}
.shop{
    width:100%;
    display:flex;
}
.shopRight {
    width:30%;
    display:flex;
    /* background-color: coral; */
}
.shopLeft {
    width:70%;
    height: 100px;;
    /* background-color: darkgray; */
    display : flex;
    flex-wrap: wrap;

}
.cafeMainDiv{
    display:flex;
    width: 100%;
}
.cafeImage{
    padding : 8px;
    width:50%;
}
.cafeTitlePrice{
    padding: 8px;
    width: 50%;
}
.cafeDescription{
    width:100%;
}

.cafeDescription p{
    font-size:15pt;
}
.shopContainer{
    width: 25%;
    padding : 8px;
    margin : 10px;
}
.shopContainer a{
    width: 100%;
    background-color: slategrey;
    font-size: 20pt;
    padding:20px;
    margin-bottom: 20px;
    margin-top:20px;
    text-decoration: none;
}


